<launch>
	<arg name="machine" default="localhost" />
	<arg name="user" default="" />
	<arg name="with_mux" default="false" />
 	
	<machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />

  	<node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen"  unless="$(arg with_mux)">

		<rosparam file="$(find scitos_2d_mbf)/conf/planners.yaml" command="load" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/nav_fn_ros.yaml" command="load" />

		<rosparam file="$(find scitos_2d_mbf)/conf/controllers.yaml" command="load" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/dwa_planner_ros.yaml" command="load" />

		<rosparam file="$(find scitos_2d_mbf)/conf/recovery_behaviors.yaml" command="load" />		

		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/global_costmap_params.yaml" command="load" />
	</node>

  	<node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen"  if="$(arg with_mux)">

        <remap from="/cmd_vel" to="/cmd_vel_mux/input/navigation"/>

		<rosparam file="$(find scitos_2d_mbf)/conf/planners.yaml" command="load" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/nav_fn_ros.yaml" command="load" />

        <rosparam file="$(find scitos_2d_mbf)/conf/controllers.yaml" command="load" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/dwa_planner_ros.yaml" command="load" />

		<rosparam file="$(find scitos_2d_mbf)/conf/recovery_behaviors.yaml" command="load" />		

		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find scitos_2d_navigation)/scitos_move_base_params/global_costmap_params.yaml" command="load" />
	</node>

</launch>
